<div class="side_header animate__animated animate__fadeInLeft">
    <a href="/" class="site_logo">
        <img width="52px" src = "../../assets/images/logo-gray.svg" alt="Sophia"/>
    </a>
    <ul class="site_header_links">
        <li><a routerLink="student-dashboard" routerLinkActive="active" class=""><img  width="32px" src="../../assets/images/icons/icon-cap.svg"/></a></li>
        <li><a routerLink="mis-cursos" routerLinkActive="active" class=""><img  width="32px" src="../../assets/images/icons/icon-brain.svg"/></a></li>                
        <li><a routerLink="crear-curso" routerLinkActive="active" class=""><img  width="32px" src="../../assets/images/icons/icon-book-open-reader.svg"/></a></li>   
        
<!--                          
        <li ><a href="/"><img  width="32px" src="../../assets/images/icons/icon-circle-plus.svg"/></a></li>
        <li ><a href="/"><img  width="32px" src="../../assets/images/icons/icon-book-line.svg"/></a></li>
        <li ><a href="/"><img  width="32px" src="../../assets/images/icons/icon-arrow-down-to-line.svg"/></a></li>  
-->         
    </ul>
<!--
    <div class="header_btns text-center mt-auto" >
        <a href="" class="btn btn-ouline-gradient btn-sm mb-4 font-segoe">Detalles</a>
        <a href="" class="btn btn-ouline-gradient btn-sm mb-4 font-segoe">Secciones</a>
        <a href="" class="btn btn-ouline-gradient btn-sm font-segoe">Grupos</a>
    </div>
-->
</div>
