

 td {
     
    padding: 10px;
    text-align:left;
}
th{
    padding: 10px;
    text-align:center;

}

.example-viewport {
    height: 300px;
    width:auto;
    overflow: scroll;
   
  }
  
  .example-item {
    height: 50px;
    overflow: scroll;
  }

  

    

  

  